<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<div th:replace="layout/layout :: navbar"></div>
	<div th:replace="layout/layout :: alerts"></div>

	<h1 class="text text-primary text-center pt-3" th:text="${titulo}"></h1>
	<div class="container">
		<div class="col-md-4 offset-md-4">
			<form th:action="@{/materia/guardar}" method="POST" th:object="${materia}">
				<div class="form-group">
					<label for="nombre">Nombre</label> <input type="text"
						class="form-control" th:field="*{nombre}" name="nombre"
						placeholder="Nombre" autofocus /> <small
						class="text text-danger" th:if="${#fields.hasErrors('nombre')}"
						th:errors="*{nombre}"></small>
				</div>
				<div class="form-group">
					<label for="horarioInicio">Horario Inicio</label> <input type="text"
						class="form-control" th:field="*{horarioInicio}" name="horarioInicio"
						placeholder="Horario inicio" /> <small class="text text-danger"
						th:if="${#fields.hasErrors('horarioInicio')}" th:errors="*{horarioInicio}"></small>
				</div>
				<div class="form-group">
					<label for="horarioFin">Horario Fin</label> <input type="text"
						class="form-control" th:field="*{horarioFin}" name="horarioFin"
						placeholder="Horario fin" /> <small class="text text-danger"
						th:if="${#fields.hasErrors('HorarioFin')}" th:errors="*{HorarioFin}"></small>
				</div>
				<div class="form-group">
					<label for="cupo">Cupo</label> <input type="text"
						class="form-control" th:field="*{cupo}" name="cupo"
						placeholder="Cupo" /> <small class="text text-danger"
						th:if="${#fields.hasErrors('cupo')}" th:errors="*{cupo}"></small>
				</div>
				<div class="form-group">
					<label for="cupo">Profesor</label><br>
					<select name="profesor" class="custom-select">
		            <option th:each="profesor,item: ${profesores}"
		              th:value="${profesor.id}"
		              th:text="${profesor.nombre} +' ' + ${profesor.apellido}"
		              th:selected="false"/>
         			 </select>
				</div><br>
				<input type="submit" class="btn btn-primary" value="Ingresar" />
			</form>
		</div>
	</div>
	<div th:replace="layout/layout :: scripts"></div>
	<br>
	<br>
	<div th:replace="layout/layout :: roles"></div>
</body>
</html>